@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
}

.main-container {
    flex-grow: 1;
    margin: 0  auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    margin: -1px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.text {
    text-align: center;
}

.main-header {
    background: #fff;
    width: 1200px;
    /* margin: 0 auto; */
    /* margin-left: 73px; */
    /* margin-right: 73px; */
}

.navigation {
    display: flex;
    justify-content: space-between;
    /* width: 1056px; */
    /* margin: 0; */
    /* margin-left: 73px; */
    
}

.navigation-block {
    width: 400px;
}

.navigation-logo-block {
    width: 400px;
    text-align: center;
}

.navigation-user-blcok {
    width: 400px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 72px;
    /* align-items: center;
    padding-left: 0; */
    
}

.navigation-menu{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    list-style: none;
    padding: 0;
    
}

.navigation-user {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-right: 72px;
    text-align: center;
}



.navigation-link {
    font-weight: 700;
    line-height: 26px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.main-logo {
    list-style: none;
}

.search-icon {
    width: 18px;
}

.navigation-item-search {
    align-self: center;
    margin-right: 21px;
}

.heart-icon {
    width: 18px;
}

.navigation-item-heart {
    align-self: center;
    margin-right: 33px;
}

/* .wish-quantity {
    width: 19px;
    background-color: #7DB54F;
    border-radius: 50%;
}

.wish-quantity-number {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -10%;
} */

.header-btn {
    width: 160px;
    height: 37px;
    border-radius: 4px;
    background-color: #756257;
    border: none;
    /* margin: 0px  0px 0px 20px; */
    /* padding-right: 0; */
}

.header-btn-text {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}

.first-screen-section {
    width: 1200px;
    min-height: 485px;
    background-image: url("img/index/first-screen/first-screen.jpg");
    background-repeat: no-repeat;
    margin: 0 auto ;
}

.first-screen-img {
    width: 458px;
    margin: 51px 371px 25px 371px;
}

.advantages-section {
    margin: 0 auto;
}

 .advantage-items-list {
     width: 1200px;
     
}

.advantage-items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}


.advantage-item:nth-of-type(4) {
    background-color: #83B3D333;
}

.advantage-item:nth-of-type(3),
.advantage-item:nth-of-type(5){
    background-color: #83B3D31F;
    
}

.advantages-title {
    width: 720px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 63px auto 23px;
}

.advantages-subtitle {
    width: 720px;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 79px;
    margin-left: auto;
    margin-right: auto;
}

.reason {
    display: flex;
}

.reason-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.reason-accent {
    color: #fff;
    background-color: #83B3D3;
}

.reason-img {
    width: 800px;
}

.reason-title {
    width: 180px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 98px;
}

.reason-number {
    font-size: 18px;
    line-height: 21px;
}

.reason-number::before {
    content: "";
    width: 5px;
    height: 2px;
    background-color: #fff;
    vertical-align: middle;
}

.reason-number::after {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #fff;
    vertical-align: middle;
}

.reason-description {
    font-size: 18px;
    line-height: 21px;
    min-height: 73px;
    margin-bottom: 77px;
    width: 250px;
}

.reason-accent .reason-description {
    width: 220px;
}

.features-list {
    display: flex;
    /* justify-content: flex-start; */
    list-style: none;
    width: 1200px;
    padding: 0;
}

.feature-item {
    /* display: flex; */
    width: 400px;
    margin: 0 auto;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-item:nth-of-type(1),
.feature-item:nth-of-type(3) {
    background-color: #83B3D31F;
}

.feature-img {
    margin-top: 89px;
}

.feature-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 0;
}

.feature-description {
    width: 250px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 79px;
}

.feature-home .feature-description {
    width: 169px;
}

.hotels-search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.hotels-search-title {
    width: 720px;
    font-size: 30px;
    line-height: 36px;
    margin-top: 91px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hotels-search-subtitle {
    width: 720px;
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
}

.hotels-search-btn {
    display: block;
    width: 575px;
    min-height: 60px;
    border-radius: 10px;
    background-color: #756257;
    text-decoration: none;
    margin-bottom: 91px;
    margin-top: 31px;
    text-align: center;
}

.hotels-search-btn-text {
    display: block;
    width: 575px;
    min-height: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 13px;
    margin-bottom: 17px;
}

.mailing-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    min-height: 411px;
    background: url(img/index/background.jpg) no-repeat;
}

.mailing-title {
    color:#fff;
    width: 720px;
    font-size: 30px;
    line-height: 36px;
    min-height: 50px;
    margin: 94px auto 15px;
    text-transform: uppercase;

}

.mailing-subtitle {
    color:#fff;
    width: 520px;
    min-height: 72px;
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto 26px;
}

.mailing-form-fieldset {
    border: none;
}

.mailing-submit-section {
    display: flex;
    margin: 0 auto;
}

.mailing-email {
    width: 600px;
    min-height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    border: none;
    margin: 0;
}

input[type="email"]::placeholder {
    width: 559px;
    font-size: 18px;
    line-height: 26px;
    font-family: "PT Sans", sans-serif;
    padding: 0 19px 0 22px;
}

.mailing-subscribe-btn {
    width: 200px;
    min-height: 60px;
    border-radius: 0 10px 10px 0;
    background-color: #83B3D3;
    border: none;
    margin: 0;
}

.mailing-subscribe-btn-text {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.main-footer {
    margin: 0 auto;
    background-color: #fff;
    width: 1200px;
}

.main-footer-items {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.main-footer a{
    text-decoration: none;
    color: #000;
}

.social-media {
    display: flex;
    width: 107px;
    justify-content: space-between;
    align-items: center;
    margin-left: 72px;
}

.social-media-twitter {
    width: 18px;
    /* margin: 50px 29px 55px 72px; */
}

.social-media-facebook {
    width: 10px;
    /* margin: 49px 30px 53px 0, */
}

.social-media-youtube {
    width: 20px;
    /* margin: 50px 61px 54px 0; */
}

.phone-number {
    font-size: 40px;
    line-height: 40px;
    margin: 40px auto 30px;
}

.logo-html-academy {
    width: 115px;
    margin-top: 42px;
    margin-right: 72px;
}

.main-inner {
    width: 1200px;
    margin: 0 auto;
}

.filter-first-screen {
    display: flex;
    justify-content: space-between;
    background: url(img/catalog/filter-section/catalog-background.jpg) no-repeat;
  
}

.filter-first-screen-tools {
    margin-left: 73px;
}

.filter-housing-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    width: 528px;
    min-height: 68px;
    color: #fff;
    margin-top: 38px;
    margin-bottom: 0;
    margin-left: -2px;
    text-align: start;
}

.filter-housing-type {
    width: 111px;
    min-height: 21px;
    margin-top: 5px;
}

.filter-housing-select {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.adjustment {
    display: flex;
}

.adjustment-devices {
    display: flex;
}

.adjustment-device-name {
    display: flex;
    align-items: flex-end;
    margin-left: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    margin-left: 0px;
    padding-left: 0px;
}


.adjustment-device {
    align-self: center;
    border: none;
    margin-bottom: 83px;
    padding-left: 0;
    margin-left: 0;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.adjustment-device-price {
    display: flex;
    align-items: center;
}

.price-from {
    border: 2px solid #fff;
    border-radius: 4px 0 0 4px;
    background-color: transparent;
    width: 144px;
    min-height: 48px;
    text-align: end;
    vertical-align: middle;
    font-size: 18px;
    border-right: none;
}

.price-to {
    border: 2px solid #fff;
    border-radius: 0 4px 4px 0;
    background-color: transparent;
    width: 144px;
    min-height: 48px;
    text-align: end;
    vertical-align: middle;
    font-size: 18px;
}

.filter-btn-apply {
    width: 160px;
    height: 48px;
    background-color: #83B3D3;
    border-radius: 4px;
    border: none;
}

.filter-btn-apply-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.filter-btn-reset {
    background-color: transparent;
    width: 160px;
    min-height: 23px;
    line-height: 21px;
    border: none;
}

.filter-btn-reset-text {
    color: #fff;
    font-size: 18px;
    line-height: 23px;
 
}

.results {
    margin-left: 72px;
}

.results-filter {
    width: 1056px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results-order {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    width: 287px;
    height: 48px;
    appearance: none;
    background: url(img/catalog/hotels-section/dropdown.svg) no-repeat;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}

.results-quantity-hotels {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;

}

.results-display-way-btn {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid #E6E6E6;
    background-color: #fff;
}

.border {
    width: 1056px;
}

.hotels {
    display: flex;
    width: 1056px;
    flex-direction: column;
}

.hotel {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}


.hotel-title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    margin: 0;
    text-align: start;
}

.hotel-type-price {
    display: flex;
    margin-top: 1px;
    margin-bottom: 31px;
}

.hotel-type {
    font-size: 18px;
    line-height: 23px;
    color: #333;
    margin: 0;
    margin-right: 78px;
}

.hotel-price {
    font-size: 18px;
    line-height: 23px;
    color: #333;
    font-weight: 400;
}

.hotel-btns {
    display: flex;
}

.hotel-button {
    margin-right: 8px;
}

.hotel-details-link {
    width: 151px;
    height: 37px;
    background-color: #756257;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 16px;
}


.hotel-to-favorite-btn {
    width: 160px;
    height: 37px;
    background-color: #83B3D3;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    font-size: 16px;
}

.selected {
    background-color: #7DB54F;
}

.hotel-rating-btn {
    border: none;
    background-color: #F2F2F2;
    width: 160px;
    height: 37px;
    color: #333;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    border-radius: 4px;
}

.hotel-info {
    margin-left: 36px;
    margin-right:  auto;
    min-height: 120px;
}

.load-more-btn {
    display: block;
    color: #fff;;
    width: 625px;
    height: 55px;
    background-color: #83B3D3;
    border: none;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 auto;
}

.hotels-pagination {
    display: flex;
    margin-top: 61px;
    width: 1056px;
}

.hotels-page-btns {
    display: flex;
    margin: 0;
    margin-right: auto;
}

.hotels-page-btn {
    display: block;
    width: 55px;
    height: 55px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background-color: #83B3D3;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    /* как выровнять по вертикали? */
    padding: 13px;
    margin-right: 8px;
}

.active-btn {
    background-color: #F2F2F2;
    color: #000;
}

.hotels-quantity {
    display: flex;
}

.hotels-quantity-text {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin-right: 51px;
}

.hotels-quantity-order {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    width: 160px;
    height: 48px;
    appearance: none;
    background: url(img/catalog/hotels-section/dropdown.svg) no-repeat;
    padding-left: 17px;
    margin-top: 5px;
}


.catalog-mailing-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
    margin: 0 auto;
}

.catalog-mailing-form-fieldset {
    border: none;
}

/* .catalog-mailing-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.catalog-mailing-subtitle {
    text-align: center;
} */

.catalog-mailing-title {
    color:#000;
    /* width: 720px; */
    font-size: 30px;
    line-height: 36px;
    min-height: 50px;
    /* margin: 94px auto 15px; */
    text-transform: uppercase;
    margin-top: 89px;
}

.catalog-mailing-subtitle {
    color:#000;
    width: 520px;
    min-height: 72px;
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto 26px;
}

.catalog-mailing-submit-section {
    display: flex;
    margin: 0 auto;
    margin-bottom: 138px;
}

.catalog-mailing-email {
    width: 600px;
    min-height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    border: none;
    margin: 0;
}

input[type="email"]::placeholder {
    width: 559px;
    font-size: 18px;
    line-height: 26px;
    font-family: "PT Sans", sans-serif;
    padding: 0 19px 0 22px;
}

.catalog-mailing-subscribe-btn {
    width: 200px;
    min-height: 60px;
    border-radius: 0 10px 10px 0;
    background-color: #83B3D3;
    border: none;
    margin: 0;
}

.catalog-mailing-subscribe-btn-text {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}