@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex-grow: 1;
    margin: 0  auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    margin: -1px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.text {
    text-align: center;
}

.main-header {
    background: #fff;
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-item {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    list-style: none;
}

.navigation-link {
    font-weight: 700;
    line-height: 26px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-right: 33px;
}

.main-logo {
    width: 138px;
}

.search-icon {
    width: 18px;
    margin-right: 21px;
}

.heart-icon {
    width: 18px;
    margin-right: 33px;
}

/* .wish-quantity {
    width: 19px;
    background-color: #7DB54F;
    border-radius: 50%;
}

.wish-quantity-number {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -10%;
} */

.header-btn {
    width: 160px;
    height: 37px;
    border-radius: 4px;
    background-color: #756257;
    border: none;
    margin: 0px 72px 0px 20px;
}

.header-btn-text {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}

.first-screen-section {
    width: 1200px;
    min-height: 485px;
    background-image: url("img/index/first-screen/Group\ 2.jpg");
    background-repeat: no-repeat;
    margin: 0 auto ;
}

.first-screen-img {
    width: 458px;
    margin: 51px 371px 25px 371px;
}

.advantages-section {
    margin: 0 auto;
}

 .advantage-items-list {
     width: 1200px;
     
}

.advantage-items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.advantage-item {
    
}

.advantage-item:nth-of-type(4) {
    background-color: #83B3D333;
}

.advantage-item:nth-of-type(3),
.advantage-item:nth-of-type(5){
    background-color: #83B3D31F;
    
}

.advantages-title {
    width: 720px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 63px auto 23px;
}

.advantages-subtitle {
    width: 720px;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 79px;
    margin-left: auto;
    margin-right: auto;
}

.reason {
    display: flex;
}

.reason-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.reason-accent {
    color: #fff;
    background-color: #83B3D3;
}

.reason-wrapper .reason-title {
    width: 180px;
}

.reason-wrapper .reason-description{
    width: 250px;
    /* margin-bottom: ; */
}

.reason-accent .reason-description {
    width: 220px;
}

.reason-img {
    width: 800px;
}

.reason-title {
    width: 150px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 98px;
}

.reason-number {
    font-size: 18px;
    line-height: 21px;
}

.reason-number::before {
    content: "";
    width: 5px;
    height: 2px;
    background-color: #fff;
    vertical-align: middle;
}

.reason-number::after {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #fff;
    vertical-align: middle;
}

.reason-description {
    font-size: 18px;
    line-height: 21px;
    min-height: 73px;
    margin-bottom: 77px;
}


.features-list {
    display: flex;
    /* justify-content: flex-start; */
    list-style: none;
    width: 1200px;
    padding: 0;
}

.feature-item {
    /* display: flex; */
    width: 400px;
    margin: 0 auto;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-item:nth-of-type(1),
.feature-item:nth-of-type(3) {
    background-color: #83B3D31F;
}

.feature-img {
    margin-top: 89px;
}

.feature-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 0;
}

.feature-description {
    width: 250px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 79px;
}

.feature-home .feature-description {
    width: 169px;
}

.hotels-search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.hotels-search-title {
    width: 720px;
    font-size: 30px;
    line-height: 36px;
    margin-top: 91px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hotels-search-subtitle {
    width: 720px;
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
}

.hotels-search-btn {
    display: block;
    width: 575px;
    min-height: 60px;
    border-radius: 10px;
    background-color: #756257;
    text-decoration: none;
    margin-bottom: 91px;
    margin-top: 31px;
    text-align: center;
}

.hotels-search-btn-text {
    width: 575px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
}

.mailing-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    min-height: 411px;
    background: url(img/index/background.jpg) no-repeat;
}

.mailing-title {
    color:#fff;
    width: 720px;
    font-size: 30px;
    line-height: 36px;
    min-height: 50px;
    margin: 94px auto 15px;
    text-transform: uppercase;
}

.mailing-subtitle {
    color:#fff;
    width: 520px;
    min-height: 72px;
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto 26px;
}

.mailing-form-fieldset {
    border: none;
}

.mailing-submit-section {
    display: flex;
    margin: 0 auto;
}

.mailing-email {
    width: 600px;
    min-height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    border: none;
    margin: 0;
}

input[type="email"]::placeholder {
    width: 559px;
    font-size: 18px;
    line-height: 26px;
    font-family: "PT Sans", sans-serif;
    padding: 0 19px 0 22px;
}

.mailing-subscribe-btn {
    width: 200px;
    min-height: 60px;
    border-radius: 0 10px 10px 0;
    background-color: #83B3D3;
    border: none;
    margin: 0;
}

.mailing-subscribe-btn-text {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.main-footer {
    margin: 0 auto;
    background-color: #fff;
    width: 1200px;
}

.main-footer-items {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.main-footer a{
    text-decoration: none;
    color: #000;
}

.social-media {
    display: flex;
    width: 107px;
    justify-content: space-between;
    align-items: center;
    margin-left: 72px;
}

.social-media-twitter {
    width: 18px;
    /* margin: 50px 29px 55px 72px; */
}

.social-media-facebook {
    width: 10px;
    /* margin: 49px 30px 53px 0, */
}

.social-media-youtube {
    width: 20px;
    /* margin: 50px 61px 54px 0; */
}

.phone-number {
    font-size: 40px;
    line-height: 40px;
    margin: 40px auto 30px;
}

.logo-html-academy {
    width: 115px;
    margin-top: 42px;
    margin-right: 72px;
}





.filter-first-screen {
    background: url(img/catalog/filter-section/catalog-background.jpg) no-repeat;
}